.allauth-form-content p {
    padding: 30px;
    margin-top: 1.8rem; /* mt-4 */
    color: #528fb3; /* text-secondary */
}

.allauth-form-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-content button,
.allauth-form-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-content button:hover,
.allauth-form-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-content a {
	color: #b85717; /* text-info */
}