{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container-fluid">
    </div>

{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <h1 class="py-4">Posters</h1>
            <hr class="w-50 mb-1">
            {% if current_categories == Null %}
                {% for c in current_categories %}
                    <a class="text-decoration-none" href="{% url 'posters' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            {% else %}
                <a class="text-decoration-none" href="{% url 'posters' %}?category=action">
                    <span class="p-2 mt-2 badge rounded-0 border border-dark">Action</span>
                </a>
                <a class="text-decoration-none" href="{% url 'posters' %}?category=romance">
                    <span class="p-2 mt-2 badge rounded-0 border border-dark">Romance</span>
                </a>
                <a class="text-decoration-none" href="{% url 'posters' %}?category=horror">
                    <span class="p-2 mt-2 badge rounded-0 border border-dark">Horror</span>
                </a>
                

            {% endif %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
            <div class="sort-select-wrapper w-50">
                <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_categories or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'posters' %}">Posters Home</a> | </span>
                {% endif %}
                {{ posters|length }} Posters{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        {% for poster in posters %}
        <div class="col-12 col-md-4 col-lg-3 mt-2">
            
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra_postload_js %}

{% endblock %}